lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
data/*
config/database.js
config/auth.js
*.wt
data/diagnostic.data/metrics.2017-05-19T13-42-14Z-00000
*.interim
data/journal/WiredTigerLog.0000000001
*.lock
